body {
    background-color: #0e1217;
}

.title-bar {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;

}

.container-div {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    font-family: Manrope,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #222222;
    text-align: center;
    background-color: purple;
    border: 1px solid #a8b3cf; /* Electric blue for visibility */
    padding: 10px;
    background: rgba(255, 255, 255, 0.05); /* Slightly visible background */
    backdrop-filter: blur(4px); /* Frosted glass effect */
    border-radius: 8px; /* Smooth corners for a modern look */
    color: #fff;
}

.footer-div {
    text-align: center;
    color: #c0c0c0;
}

.footer-div a{
    text-decoration: none;
}

.fa-brands.fa-linkedin {
    font-size: 20px;
}

.fa-brands.fa-instagram {
    font-size: 20px;
}

.icons-div {
    text-align: center;
    justify-content: space-between;
}

.p-text {
    text-align: left;
  }

a {
    color: green;
}

.book-img {
    width:150px;
    border-radius: 5px;
}

.in-container-div {
    text-align: left;
    margin-left: 40px;
}

.order-button-div {
    margin-top: 100px;
    margin-bottom: 50px;
}

.order-button {
    text-decoration: none;
    color: #191e21;
    background-color: #76f191;
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
    margin-right: 10px;
}

