body {
    background-color: #222222;
}

.title-bar {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #c0c0c0;

}

.container-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    text-align: center;
    background-color: purple;
    border: 1px solid #9d00ff; /* Electric blue for visibility */
    box-shadow: 0 0 8px #9d00ff; /* Soft glow effect */
    padding: 10px;
    background: rgba(255, 255, 255, 0.05); /* Slightly visible background */
    backdrop-filter: blur(4px); /* Frosted glass effect */
    border-radius: 8px; /* Smooth corners for a modern look */
    color: azure;
}

.footer-div {
    text-align: center;
    color: #c0c0c0;
}

.p-text {
    text-align: left;
  }

a {
    color: green;
}

.book-img {
    width:250px;
}